<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/">{{ site.title }}</a></h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      <a href="/download/" class="btn">Download</a>
      <a href="/guide/" class="btn">User Guide</a>
      <br />
      <a href="{{ site.gitlab.repository_url }}" title="LibreArp's source code repository" class="btn">GitLab</a>
      <a href="https://twitter.com/librearp" title="Official Twitter account with announcements" class="btn">Twitter</a>
      <a href="https://matrix.to/#/#librearp:matrix.org" title="A Matrix chat room about LibreArp" class="btn">Matrix</a>
      <br />
      <a href="https://paypal.me/ostava" title="Sponsor LibreArp's creator via PayPal" class="btn">Sponsor via PayPal</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        {% include footer.html %}
      </footer>
    </section>
  </body>
</html>
